.section-blog-item {
    overflow: hidden;
  }
  .blog_thubnail {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .section-blog-item:hover .blog__img {
    transform: scale(1.1);
  }
  .blog__img {
    display: block;
    position: relative;
    padding-bottom: 75%;
    background-color: #f2f2f2;
    transition: all 0.5s;
  }

  .blog__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: inherit;
    max-height: 100%;
    transition: all 0.5s;
  }

  .content-blog {
    padding: 10px 14px;
    background-color: #f8f8f8;
    cursor: grab;
  }

  .content-blog__title a {
    display: block;
    height: 36px;
    font-size: 1.4rem;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color);
    /* margin-bottom: 5px; */
  }
  .content-blog__title a:hover {
    color: var(--primary-color);
  }

  .content-blog__description {
    margin: 5px 0;
    color: #7a7a9d;
    height: 50px;
    font-size: 1.4rem;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
  }

  .section-blog-item .toparticle {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #9a9a9a;
    padding-left: 22px;
    background: url("//bizweb.dktcdn.net/100/438/408/themes/848101/assets/clock.svg?1647335157717")
      0px -1px no-repeat;
    line-height: 18px;
    display: inline-block;
  }