.form-cart {
	padding: 40px 0;
}
.container.cart-body {
	background-color: #f8f8f8;
}
.form-cart__title {
	font-size: 1.6rem;
	font-weight: 600;
	padding: 0 30px;
	line-height: 60px;
	background-color: var(--white-color);
	.total-cart {
		font-weight: 500;
		color: #7a7a9d;
	}
	a {
		font-size: 14px;
		background: url("https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/buy-continue.svg") right 10px center #feeeea no-repeat;
		padding: 0 42px 0 20px;
		line-height: 40px;
		border-radius: 4px;
		float: right;
		color: #fcaf17;
		margin-top: 10px;
	}
}
.form-cart__cart-header-info {
	display: flex;
	padding: 12px 0;
	font-size: 14px;
	font-weight: 600;
	background: #f8f8f8;
	border-top: 1px #dde1ef solid;
	border-bottom: 1px #dde1ef solid;
	justify-content: space-between;
	div {
		&:nth-child(1) {
			flex: 0 0 54%;
			padding-left: 30px;
		}
		&:nth-child(2) {
			flex: 0 0 15%;
			text-align: center;
		}
		&:nth-child(3) {
			flex: 0 0 14%;
			text-align: center;
		}
		&:nth-child(4) {
			flex: 0 0 15%;
			text-align: center;
		}
	}
}
.form-cart__cart-body {
	background-color: var(--white-color);
}
.form-cart__cart-product {
	width: 100%;
	display: flex;
	padding: 20px 30px;
}
.form-cart__cart-product-img {
	width: 97px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-cart__cart-product-info {
	padding-left: 15px;
	vertical-align: top;
	display: flex;
	width: calc(100% - 97px);
	justify-content: space-between;
}
.form-cart__cart-name {
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 5px;
	position: relative;
}
.form-cart__cart-product-name {
	font-size: 1.4rem;
	text-transform: capitalize;
	color: var(--text-color);
	display: block;
	margin-bottom: 8px;
	line-height: 2rem;
}
.form-cart__cart-product-color-size {
	font-size: 14px;
	display: inline-block;
	background: #f8f8f8;
	line-height: 26px;
	padding: 0 12px;
	border-radius: 13px;
}
.form-cart__remove-cart {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	font-size: 1.4rem;
	color: #9e9e9e;
}
.cart-remove {
	display: inline-block;
	color: #dd011b;
	font-weight: 300;
	padding: 4px 0px 4px 26px;
	background: url("https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/remove_cart.svg") left center no-repeat;
}
.cart-like {
	margin-left: 20px;
}
.setWishList {
	img {
		width: 18px;
		height: 18px;
		position: relative;
		top: 4px;
	}
	span {
		color: #7f8bb1;
	}
}
.form-cart__body-item {
	flex: 0 0 16%;
	max-width: 16%;
	text-align: center;
}
.form-cart__body-item.group-btn-qty {
	flex: 0 0 20%;
	max-width: 20%;
	display: flex;
	justify-content: center;
}
.form-cart__cart-price {
	display: block;
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: 600;
}
.form-cart-payment {
	background-color: var(--white-color);
	padding: 20px;
}
.form-cart-payment__ship {
	padding: 18px 15px 18px 64px;
	background: #f8f8f8 url("https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/ship-cart.svg") left 20px center no-repeat;
	line-height: 1.3;
	margin-bottom: 35px;
}
.form-cart-payment__ship-title {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
}
.form-cart-payment__ship-text {
	font-size: 1.4rem;
	margin-top: 4px;
	b {
		color: var(--primary-color);
		padding: 0 5px;
	}
}
.form-cart-payment__subtotal {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
}
.form-cart-payment__subtotal-price {
	font-size: 2rem;
	color: var(--primary-color);
	font-weight: 600;
}
.form-cart-payment__text-sale {
	font-size: 1.4rem;
}

.empty-cart{
	width: 100%;
	text-align: center;
	padding: 40px;
	.empty-cart__text{
		font-size: 1.4rem;
		color: #7a7a9d;
	}
}


